
@{
    ViewBag.Title = "Index";
}

<h2>@TicketingSystem.Resource.WelcomeMessage</h2>
<p>@TicketingSystem.Resource.SiteUsedBy</p>
<ul>
    <li>@TicketingSystem.Resource.EmployeeAccess</li>
    <li></li>
</ul>


